.groomer {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.title {
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
    width: 100%;
    color: #6750A4;
}

.panels {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.panel {
    width: 30%;
    height: 60vh;
    float: left;
    padding: 1.25rem;
    margin: 0.5rem;
    border-radius: 40px;
    background-color: #F7F2FA;
    overflow-y: scroll;
}

.panel-header {
    font-weight: 600;
    text-align: center;
    width: 100%;
}

.button {
    background-color: #6750A4;
    color: white;
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: none;
}

.button:active,
.button:hover,
.button:focus {
    background-color: #D0BCFF;
}

.text-input {
    border: 2px solid #CAC4D0;
    border-radius: 8px;
    padding: 0.25rem 0.5rem;
    color: black;
}

.text-input::placeholder {
    color: #CAC4D0;
}

.text-input:hover,
.text-input:active,
.text-input:focus {
    border: 2px solid #6750A4;
}

.dog-card {
    background-color: #E6E0E9;
    border-radius: 25px;
    padding: 2rem;
    margin: 0.5rem;
}

.dog-name {
    font-size: 2rem;
    color: #4F378B;
    margin: 0;
}

.breed {
    font-size: 1rem;
    color: #21005D;
    margin: 0.25rem 0 0 0;
    font-weight: 800;
    text-transform: uppercase;
}

.age {
    color: #1D192B;
    margin: 0 0 1.5rem 0;
}